# OS
.DS_Store

# Python
__pycache__/
*.pyc
.venv/
venv/
*.egg-info/

# Node / Next.js
node_modules/
.next/
out/

# Env / secrets
.env
.env.*
!.env.example

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Editors
.vscode/
.idea/
